<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a class="btn btn-success" href="/books/add">Add book</a>

    <hr/>

    <div class="row">
      <% donerList.forEach(function(doner, i){ %>
        <div class="card" style="width: 18rem; margin: 4px;">
          <div class="card-body">
            <h5 class="card-title"><%= doner.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=  doner.email %></h6>
            <p class="card-text"><%=  doner.phone %></p>
            <p class="card-text"><%=  doner.fund %>

            <h6 class="card-subtitle mb-2 text-muted"> <%= doner.method %></h6>
            <a href="/books/edit/<%= doner._id%>" class="card-link">Edit</a>
            <a href="/fund/remove/<%= doner._id%>" class="card-link">Delete</a>
            <a href="/books/getFund/<%= doner._id%>" class="card-link">addFund</a>

          </div>
        </div>
      <%})%>
      </div>

  </body>
</html>
